<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.universe.mapper.LikeCntMapper">

    <resultMap id="likeResultMap" type="com.seu.universe.entity.MessageLikeCnt">
        <result property="messageLikeId" column="message_like_id" />
        <result property="messageId" column="message_id" />
        <result property="likeCount" column="like_cnt" />
    </resultMap>

    <insert id="addMessageLikeCnt" >
        INSERT INTO
        t_message_like_cnt(message_id, like_cnt)
        VALUES (#{messageId}, #{likeCnt})
    </insert>

    <select id="getMessageLikeCnt"  parameterType="Long">
        select
        message_like_id, message_id, like_cnt
        from
        t_message_like_cnt
        where
        message_id = #{messageId}
    </select>

    <update id="updateMessageLikeCnt">
        update t_message_like_cnt
        set like_cnt = #{newLikeCnt}
        where message_id = #{messageid}
    </update>

</mapper>