<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.universe.mapper.TranspondCntMapper">

    <resultMap id="transpondResultMap" type="com.seu.universe.entity.MessageTranspondCnt">
        <result property="transpondId" column="transpond_id"/>
        <result property="messageId" column="message_id"/>
        <result property="transpondCnt" column="transpond_cnt"/>
    </resultMap>

    <insert id="addMessageTranspondCnt">
        INSERT INTO
        t_message_transpond_cnt(message_id, transpond_cnt)
        VALUES (#{messageId}, #{transpondCnt})
    </insert>

    <select id="getMessageTranspondCnt" parameterType="Long">
        select
        transpond_id, message_id, transpond_cnt
        from
        t_message_transpond_cnt
        where
        message_id = #{messageId}
    </select>

    <update id="updateTranspondLikeCnt">
        update t_message_transpond_cnt
        set transpond_cnt = #{newTranspondCnt}
        where message_id = #{messageid}
    </update>

</mapper>